
h1 {
    color:rgba(76, 76, 76, 0);
    font-family: sans-serif;
    font-size: 10px;
}
h2 {
  color:rgba(0, 0, 0, 1);
  font-family: "Futura", sans-serif;
  font-size: 33px;
  font-weight: 500;
  padding-top: 3px;
}
.container {
  padding: 10px 30px 10px 30px;
  margin: 10px auto;
  box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
  border-radius: 6px;
}
.image-coppaclub {
  background-image: url("https://lepetitjournal.com/sites/default/files/styles/main_article/public/igloos%25202.jpg?itok=8AE1faii");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-dallowayterrace {
  background-image: url("https://palife.co.uk/wp-content/uploads/2016/12/Christmas-Shoot_Dalloway-Terrace_Header-Cropped1.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-sliders {
  background-image: url("https://captaincharley.net/wp-content/uploads/2017/11/22-Roof-East-Winter-Ski-Bar-Sliders-Curling-London-Blog-Blogger-800x600.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-nathist {
  background-image: url("http://www.nhm.ac.uk/content/nhmwww/en/home/visit/exhibitions/ice-rink/jcr:content/par/rowfullwidth/par2/headertextimage.img.full.high.jpg/1533306926108.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-somerset {
  background-image: url("https://www.somersethouse.org.uk/sites/default/files/styles/header_image/public/Skate%20-%20Times%20and%20tickets.jpg?itok=5hZRp41p");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-canary {
  background-image: url("http://assets.londonist.com/uploads/2015/11/ice_skating.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-southbank {
  background-image: url("https://d33hx0a45ryfj1.cloudfront.net/additional/Dynamic/media/45ea96ca3ef12863?w=1220&h=628&crop=1");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-hyde {
    background-image: url("https://8etif2vfcqu2w72qu3qz71w1-wpengine.netdna-ssl.com/wp-content/uploads/2017/12/WINTERWONDERLAND-2017-MAXMIECHOWSKI-1-1-500x450.jpg");
    background-size: cover;
    height: 300px;
    border-radius: 3px;
}
.image-winterville {
  background-image: url("https://media.timeout.com/images/104673198/630/472/image.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-covent {
  background-image: url("https://www.coventgarden.london/sites/default/d8files/styles/main_image_large/public/cg_images/covent-garden-christmas-1.jpg?itok=lEeDOdDx&h=17246cd0");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.image-oxford {
  background-image: url("http://cdn.ltstatic.com/2009/November/GR043182_942long.jpg");
  background-size: cover;
  height: 300px;
  border-radius: 3px;
}
.station {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.walk_time {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
.description {
  color:rgba(50, 50, 50, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 5;
  text-align: justify;
}
.details {
  color:rgba(120, 120, 120, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
a {
  color:rgba(100, 100, 150, 1);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 5;
}
ul {
  list-style-type: none;
}
.btn-info {
  background-color: silver;
  border-color: silver;
}
.btn-info:hover {
  background-color: grey;
  border-color: grey;
}
.btn-dark {
  background-color: black;
  border-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: rgba(40,40,40,1);
  border-color: rgba(40,40,40,1);
  color: white;
}
.btn-light {
  background-color: chocolate;
  border-color: chocolate;
  color: white;
}
.btn-light:hover {
  background-color: tan;
  border-color: tan;
  color: white;
}
.btn-victoria {
  background-color: rgba(107, 185, 240, 1);
  border-color: rgba(107, 185, 240, 1);
  color: white;
}
.btn-victoria:hover {
  background-color: rgba(89, 171, 227, 1);
  border-color: rgba(89, 171, 227, 1);
  color: white;
}
.navbar {
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: 0px;
  height: 90px;
}
.nav-link {
  color: black;
  font-size: 19px;
  font-family: "futura", sans-serif;
  background-color: white;
  margin-right: 7px;
  margin-top: 40px;
}
.nav-linkmain {
  color: black;
  font-size: 19px;
  font-family: "futura", sans-serif;
  background-color: rgba(250, 250, 250, 0.5);
  margin-right: 7px;
  margin-top: 40px;
}
.navbar-toggle {
  background-color: white;
  margin-top: 30px;
  height: 50px;
  width: 50px;
}
.icon-bar {
  background-color: black;
  margin-left: 3px;
}
